{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "./artefacts/server.json.zip",
            "label": "SASjs Server (upload to appStream)"
          },
          {
            "path": "./artefacts/sas9.sas",
            "label": "SAS 9 EBI (change line 2 and run in Enterprise Guide)"
          },
          {
            "path": "./artefacts/viya.sas",
            "label": "SAS Viya (run in Studio)"
          }
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "echo 'publish command'"
      }
    ]
  ]
}
