<clr-modal [clrModalOpen]="true" clrModalSize="sm" [clrModalClosable]="false">
  <h3 class="modal-title">Sign In</h3>
  <div style="min-height: 80px" class="modal-body" (keydown.enter)="signIn()">
    <input clrInput name="username" placeholder="User name" autocomplete="username" [(ngModel)]="userName" required />
    <input
      clrInput
      type="password"
      placeholder="Password"
      name="password"
      autocomplete="current-password"
      [(ngModel)]="password"
      required
    />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="signIn()" [clrLoading]="loginLoading">Sign In</button>
  </div>
</clr-modal>
