<div class="wrapper">
    <p style="margin-top: 20px; text-align: center;">Choose file to be uploaded to SAS</p>
    <div class="uploader">
        <input (change)="onFileChange($event)" type="file" id="fileToUpload">
    </div>

    <hr style="margin-top: 20px; width: 100%;"/>
    <button (click)="submit()" [clrLoading]="uploadLoading" class="btn btn-primary">upload</button>
</div>

<ng-container *ngIf="responseModalMessage !== null">
    <div class="modal">
        <div class="modal-dialog" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">File upload response</h3>
                </div>
                <div class="modal-body">
                    <p>{{ typeof(responseModalMessage) === 'object' ? (responseModalMessage | json) : responseModalMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button (click)="responseModalMessage = null" class="btn btn-primary" type="button">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true"></div>
</ng-container>