.data-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    .areas-select-wrapper {
        display: flex;
        align-items: center;
        
        ::ng-deep clr-select-container {
            margin: 0;
            
            select {
                min-width: 200px;
            }
        }

        button {
            margin-left: 10px;
        }
    }

    table {
        width: 80%;
        margin-top: 40px;
    }
}