<div class="home-page">
  <h2>Welcome to the <span class="code">SASjs</span> Seed App for Angular!</h2>
  <div>
    App Source Code:
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/sasjs/angular-seed-app"
    >
      https://github.com/sasjs/angular-seed-app
    </a>
  </div>
  <br />
  <div>
    <span class="code">SASjs</span> Source Code:
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/sasjs/adapter"
    >
      https://github.com/sasjs/adapter
    </a>
  </div>
  <br />
  <div>
    <span class="code">SASjs</span> on NPM:
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.npmjs.com/search?q=%40sasjs"
    >
      https://www.npmjs.com/search?q=%40sasjs
    </a>
  </div>
</div>
