# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: PR Build and Test

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [lts/hydrogen]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Check npm audit
        run: npm audit --production --audit-level=low

      - name: Install Dependencies
        run: npm ci

      - name: Check code style
        run: npm run lint

      - name: Run unit tests
        run: npm test

      - name: Run licence checker
        run: npm run license-checker